/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:#FFFDFD;}
#ardoraMain{ font-family:Verdana, Geneva, sans-serif; color: #000000; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 12px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#ardoraAutor{padding-left:5px; clear:both; font-size: 10px; }
#buttonOk{ position: absolute; height: 70px; width: 70px; bottom: 0px; cursor: pointer;border-style: solid; border-width: 1px;
-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);}
#ardoraTabCanvas{width: 70px;border-style: solid;border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius:4px;-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50,50,50,0.5);height:235px;} 
.imaCell{display:  table; text-align: center; -webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
position:  absolute; border-color: black; border-style: dotted; border-width: 1px;
width:521px; height: 400px;}
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;}
#ardoraActCanvasAnim{z-index: 1; position: absolute;}
#ardoraAct{ width:686px; height:400px;position: relative; margin-right: 10px; padding: 5px; float: left;
background-image: url(../media/grafico.jpg); background-position: left; background-repeat: no-repeat; background-origin:content-box;
}
.txtCell{ font-family:Verdana, Geneva, sans-serif;position:  absolute; width:150px; font-size:12px;padding:0px;margin: 0px;text-align: center;z-index:3;}
.txtCell_txt{-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
border:solid; border-width:1px;border-color:#000000;background-color:#FFFFFF;
color:#000000;
-moz-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);-webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);
}
.txtCell p{margin: 0px;padding: 2px;}.txtCell_txt p{margin: 0px; padding: 2px;cursor: pointer;}
#txt1 {left:536px;}
#txt2 {left:536px;}
#txt3 {left:536px;}
#txt4 {left:536px;}
#txt5 {left:536px;}
#txt6 {left:536px;}
#ardoraTab{width: 70px;height:320px; position: relative; visibility: visible;padding:5px;float:left;}
